@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add this to your global CSS */
/* body {
    overflow-x: hidden;
  } */
  
  @keyframes rotateText {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  a {
    text-decoration: none;
  }
  
 